<div class="container d-flex justify-content-center align-items-center" style="height:100%;">
  <form class="d-flex justify-content-center flex-column login-form" style="width: 600px;" [formGroup]="myForm" (ngSubmit)="handleLogin()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fw-bolder fs-4">Username</label>
      <input type="email" class="form-control" formControlName="username" placeholder="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fw-bolder fs-4">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="password">
    </div>
    <p class="mb-3">New User? <a href="/signup" style="color: darkblue; word-spacing: 1px;">Create Account</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>